body{
    background-image: url('https://www.desktopbackground.org/p/2010/06/24/37965_full-hd-1080p-pink-wallpapers-hd-desktop-backgrounds-1920x1080_1920x1080_h.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}